@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    /* --color-background: #0F1014;
    --color-elementes: #15171C;
    --color-hover: #0F1014;
    --color-text: #fff; */
    --color-background: #FAFAFA;
    --color-elementes: #fff; 
    --color-hover: #EEEEEE; 
    --color-text: #202020;
    --color-pourple: #86469C;
    --color-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-elementes);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-text);
}

.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

}

.header i{
    font-size: 1.8rem;
}

.barra-progreso{
    height: 20px;
    width: 50%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconos-bien-mal{
    gap: 15px;
    font-size: 18px;
}

.bien{
    color: var(--color-pourple);
}

.mal{
    color: red;
}

.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options-word{
    width: 40%;
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.options-word li{
    background-color: var(--color-pourple);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.oracion{
    text-align: center;
}

.sentence{
    font-size: 1.5rem;
}

.input-complete{
    text-align: center;
    width: 25%;
    font-size: 1.5rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--color-pourple);
    color: var(--color-pourple);
}

.input-complete:focus{
    outline: none;
}

.ilustracion{
    width: 35%;
    height: 50%;
}

